{{ define "main" }}
<div class="d-flex align-items-center justify-content-center container top-50 min-vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-uon-green">404</h1>
        <h6 class="h6">Looks like navigating may not be your strongest.</h6>
        <h5 class="h5">Why not take our <a href="/training#grade-2" class="text-uon-green">Grade 2</a> or <a href="/training#grade-3" class="text-uon-green">Grade 3</a> navigational course</h5>
        <a href="index.html" class="btn btn-uongreen">Go Home</a>
    </div>
</div>
{{ end }}