{{ define "main" }}

<div class="bg-image" style="
    background-image: url('/img/hero.jpg');
    background-size: cover;
    background-position: center center;
    height: 92vh;
  ">
    <div style="background-color: rgba(0, 0, 0, 0.5);
  height: 92vh;">
        <div class="px-4 py-5 container hero">
            <div class="position-absolute top-lg-25">
                <h1 class="display-1 fw-bold text-white font-uon">Rambling & Hiking Club</h1>
                <p class="h2 display-7 text-white font-uon">University of Nottingham Sport</p>
                <button type="button" class="btn btn-outline-light btn-lg"
                        onclick="location.href='https://su.nottingham.ac.uk/activities/view/rambling-hiking';">Join Us
                </button>
            </div>
        </div>
    </div>
</div>

<h2 class="display-2 text-center font-uon text-uon-gold my-3 fw-bold">Participation Club of the Year</h2>
<h2 class="display-2 text-center font-uon text-uon-green my-5 fw-bold">Upcoming Events</h2>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2">
            {{ $events := where .Site.RegularPages "Section" "walks" }}
            {{ $events := $events | intersect (where $events "Date" "ge" now) | last 1 }}
            {{ range $events}}
        <div class="col pb-5">
            {{ if ne (strings.Chomp .Content) "" }}
            <a href="{{ .RelPermalink }}">
                {{end}}
                <div class="card border border-uon-gold border-4 text-white hvr-grow-shadow">
                    {{ with or (.Resources.GetMatch "cover.*") (resources.Get "/img/fallback.png") }}
                    {{ with .Fill "500x300" }}
                    <img src="{{ .RelPermalink }}" class="img-fluid">
                    {{end}}
                    {{end}}
                    <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.4)">
                        <h3 class="card-title display-5">Next Walk: {{ .Title }}</h3>
                        <p class="card-text">{{ .Date.Format "Mon 02 Jan 2006" }}</p>
                    </div>
                </div>
                {{ if ne (strings.Chomp .Content) "" }}
            </a>
            {{end}}
        </div>
        {{ end }}
            {{ $events := where .Site.RegularPages "Section" "socials" }}
            {{ $events := $events | intersect (where $events "Date" "ge" now) | last 1 }}
            {{ range $events}}
        <div class="col">
            {{ if ne (strings.Chomp .Content) "" }}
            <a href="{{ .RelPermalink }}">
                {{end}}
                <div class="card text-white border border-4 border-uon-green hvr-grow-shadow">
                    {{ with or (.Resources.GetMatch "cover.*") (resources.Get "/img/fallback.png") }}
                    {{ with .Fill "500x300" }}
                    <img src="{{ .RelPermalink }}" class="img-fluid">
                    {{end}}
                    {{end}}
                    <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.4)">
                        <h3 class="card-title display-5">Next Social: {{ .Title }}</h3>
                        <p class="card-text">{{ .Date.Format "Mon 02 Jan 2006" }}</p>
                    </div>
                </div>
                {{ if ne (strings.Chomp .Content) "" }}
            </a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    <h2 class="display-2 text-center font-uon text-uon-green my-5 fw-bold">Our (Funny) Members</h2>
    <div id="carouselMemberPhoto" class="carousel slide mb-5">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselMemberPhoto" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselMemberPhoto" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/RHFunny01.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block">
                    <a class="btn btn-outline-light mt-3 btn-sm" href="/img/RHFunny01.jpg" download>
                        Download
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/img/RHFunny02.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block">
                    <a class="btn btn-outline-light mt-3 btn-sm" href="/img/RHFunny02.jpg" download>
                        Download
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMemberPhoto" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMemberPhoto" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 class="display-2 text-center font-uon text-uon-green my-3 fw-bold">What You Can Expect</h2>
    <div class="ratio ratio-16x9 mx-md-0">
        <iframe src="https://drive.google.com/file/d/1QkRIEVL9_xcUtomyXh4KriWkWk9NDkR3/preview"></iframe>
    </div>
    <div class="row row-cols-1 my-2 text-center row-cols-sm-3 ">
        <div class="col p-sm-1 p-2">
            {{ with or (resources.Get "/img/landing/landing1.jpg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
            <a class="btn btn-uongreen mt-3 w-50 btn-lg" href="/gear">
                Required Gear
            </a>
        </div>
        <div class="col p-sm-1 p-2">
            {{ with or (resources.Get "/img/landing/landing2.jpg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
            <a class="btn btn-uongreen mt-3 w-50 btn-lg" href="/calendar">
                Calendar
            </a>
        </div>
        <div class="col p-sm-1 p-2">
            {{ with or (resources.Get "/img/landing/landing3.jpg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
            <a class="btn btn-uongreen mt-3 w-50 btn-lg" href="/faq">
                FAQ
            </a>
        </div>
    </div>
    <div class="row row-cols-3 my-1">
        <div class="col p-1">
            {{ with or (resources.Get "/img/landing/landing4.jpg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
        </div>
        <div class="col p-1">
            {{ with or (resources.Get "/img/landing/landing5.jpeg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
        </div>
        <div class="col p-1">
            {{ with or (resources.Get "/img/landing/landing6.jpg") (resources.Get "/img/fallback.png") }}
            {{ with .Fill "500x300" }}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{end}}
            {{end}}
        </div>

    </div>
    <div class="text-center fst-italic pt-4">
        <p>This site is new and any feedback would be greatly appreciated! <strong>webfeedback@ramsoc.co.uk</strong></p>
    </div>
</div>


{{ end }}
