
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target='#{{ replace .Params.title " " "-"}}' aria-expanded="false" aria-controls='{{ replace .Params.title " " "-"}}'>
            {{ .Params.title | safeHTML | htmlUnescape }}
        </button>
    </h2>
    <div id='{{ replace .Params.title " " "-"}}' class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {{ .Inner | markdownify }}
        </div>
    </div>
</div>