{{ define "main" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id='map' style='width: 100%; height: 300px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGFuLWxlZTc2IiwiYSI6ImNsaXJ4d3N3azE3M3Mza28xdnVmdGxwczcifQ.j0THIt59Yt7D6qG1WKXTPg';
    const colors = ['#443c90','#d40058','#33691f', '#ffc108', '#0298ce'];
    const start = ['{{ .Params.lng }}', '{{ .Params.lat }}']
    var i = 0;
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/dan-lee76/cliry1gm600nw01qv1p9f20fm', // style URL
        center: start, // starting position [lng, lat]
        zoom: 11, // starting zoom
    }).addControl(new mapboxgl.FullscreenControl()).addControl(new mapboxgl.NavigationControl()).addControl(new mapboxgl.ScaleControl());
    const marker = new mapboxgl.Marker({ color: "#065434", })
        .setLngLat(start)
        .addTo(map);
</script>
<div class="container my-3">
    <div class="row ">
        <h1 class="display-4 col-md-9 col-7">{{ .Title }} | {{ .Date.Format "Mon 02 Jan 2006" }}</h1>
        {{ if isset .Params "photo_link" }}
        <div class="col-md-1 col-2 align-self-center d-flex justify-content-center">
            <a href="{{ .Params.photo_link }}"><img src="/img/Google-Photos-logo.png" width="45"></a>
        </div>
        {{ end }}
        {{ if (isset .Params "ticket_link") }}
        <div class="col-md-2 col-3 align-self-center d-flex justify-content-center ">
        {{ if ge .Date (time.Now)}}
            <button type="button" class="btn btn-primary btn-uongreen"
                onclick="location.href='{{ .Params.ticket_link }}';">Buy Ticket</button>
                {{ else }}
                <button type="button" class="btn btn-primary btn-uongreen disabled" disabled>Buy Ticket</button>
                {{ end }}
            </div>
        {{ end }}
    </div>
    <hr>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">General Info</button>
        </li>
        {{ range .Params.walks}}
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-{{ index . 0 }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ index . 0 }}" type="button" role="tab" aria-controls="pills-{{ index . 0 }}" aria-selected="false">{{ index . 0 }}</button>
        </li>
        {{end}}
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="row">
        <div class="col-md-6 order-md-1 order-2">
            {{ .Content }}
        </div>
        {{ with .Resources.GetMatch "cover.*" }}
        {{ with .Fill "500x400" }}
        <div class="col-md-6 order-md-2 order-1">
            <img class="img-fluid" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
        </div>
        {{ end }}
        {{ end }}
    </div>
    </div>
    {{ range .Params.walks}}
    <div class="tab-pane fade" id="pills-{{index . 0}}" role="tabpanel" aria-labelledby="pills-{{index . 0}}-tab" tabindex="0">
        <h2>{{ index . 0}}</h2>
        <div id="{{index . 0}}-info"></div>
        {{ index . 2}}
      </div>
      {{end}}
</div>
<script>
    {{ range .Params.walks}}
    $.get("https://api.danlee.uk/ramsoc/?url={{ index . 1}}", function(data, status){
            console.log(data)
            map.on('load', () => {
            
                map.addSource('{{ index . 0}}', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                            'type': 'LineString',
                            'coordinates': data[0]
                        }
                    }
                });
                map.addLayer({
                    'id': '{{ index . 0}}',
                    'type': 'line',
                    'source': '{{ index . 0}}',
                    layout: {
                        'line-cap': 'round',
                        'line-join': 'round',
                        
                      },
                    'paint': {
                        'line-color': colors[i++],
                        'line-width': 4,
                        'line-opacity': 0.5
                    }
                });
                var activeRoute = null;
                map.on('click', '{{ index . 0}}', function (e) {
                    new mapboxgl.Popup()
                        .setLngLat(e.lngLat)
                        .setHTML('<h4>{{ index . 0}}</h4><p>Distance: '+(data[1]/100).toFixed(2)+'km</p><p>Elevation: '+data[2].toFixed(2)+'m</p>')
                        .addTo(map);
                    

                });
                map.on('mouseenter', '{{ index . 0}}', function () {
                    map.getCanvas().style.cursor = 'pointer';
                    map.setPaintProperty('{{ index . 0}}', 'line-width', 6);
                    map.moveLayer('{{ index . 0}}');
                    map.setPaintProperty('{{ index . 0}}', 'line-opacity', 1);
                });
                map.on('mouseleave', '{{ index . 0}}', function () {
                    map.getCanvas().style.cursor = '';
                    map.setPaintProperty('{{ index . 0}}', 'line-width', 4);
                    map.setPaintProperty('{{ index . 0}}', 'line-opacity', 0.5);
                });
                
            });
        })
        {{ end }}

        const pilEls = document.querySelectorAll('button[data-bs-toggle="pill"]')
        console.log(pilEls)
        pilEls.forEach(function (elem){
            console.log(elem)
            elem.addEventListener('shown.bs.tab', event =>{
                map.flyTo({
                    center: start,
                    zoom: 11
                });
                id = event.target.id.split('-')[1]
                if(id != "home"){
                map.setPaintProperty(id, 'line-width', 6);
                map.setPaintProperty(id, 'line-opacity', 1);
                map.moveLayer(id);
                }

                previousId = event.relatedTarget.id.split('-')[1]
                if(previousId != "home"){
                map.setPaintProperty(previousId, 'line-width', 4);
                map.setPaintProperty(previousId, 'line-opacity', 0.5);
                }

            })
        })

   
</script>
{{ end }}